body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://static.shittim.art/images/tablet-aos-01.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background 0.7s ease;
}